.companies {
    padding: 0 8rem;
    padding-bottom: 12rem;
}

.companies_images {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.compa-img {
    width: 156px;
    height: 30px;
}

.compa-img img {
    width: 100%;
    height: 100%;
}