.welcome {
    padding: 12.8rem 0;
}

.welcome_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome_right {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    position: relative;
}

.welcome_right .welcome_text_cont {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.welcome_right .welcome_text_cont .welcome_blue_text {
    color: var(--blue-btn-bg);
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.welcome_right .welcome_text_cont .welcome_title {
    width: 36.8rem;
    color: var(--black-color);
    font-family: Inter;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
}

.welcome_right .welcome_text_cont .welcome_desc {
    width: 39.7rem;
    color: var(--black-color);
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.welcome_right .welcome_btn_cont .welcome_btn {
    display: inline-flex;
    padding: 1.2rem 3.2rem;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--blue-btn-bg);
    border: none;
    outline: none;
    color: var(--bg-header);
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.2px;
    cursor: pointer;
    transition: var(--transition);
}

.welcome_right .welcome_btn_cont .welcome_btn:hover {
    opacity: 0.81;
}

.welcome_container .welcome_images {
    position: relative;
}

.welcome_container .welcome_images .Line_1_small_purple {
    position: absolute;
    top: 9%;
    left: -10%;
}

.welcome_container .welcome_images .Line_2_small_green {
    position: absolute;
    left: -36%;
    bottom: 40%;
}

.welcome_right .welcome_right_line {
    position: absolute;
    bottom: 0;
    right: 0;
}