.finsweet {
    padding: 0 20.8rem;
    padding-top: 6.4rem;
    padding-bottom: 12.8rem;
}

.finsweet_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6.4rem;
}

.finsweet_container-left {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.finsweet_container-left h1 {
    max-width: 38.7rem;
    color: var(--black-color);
    font-family: Inter;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 52.8px */
}

.finsweet_container-left p {
    max-width: 48rem;
    color: var(--black-color);
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.finsweet_container-left .finsweet_btn {
    display: inline-flex;
    padding: 1.2rem 3.2rem;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--blue-btn-bg);
    color: var(--bg-header);
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 18.5rem;
    height: 4.8rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: var(--transition-delay);
}

.finsweet_img {
    width: 100%;
    height: 100%;
}

.finsweet_container-left .finsweet_btn:hover {
    opacity: 0.79;
}

@media(max-width: 1280px) {
    
    .finsweet {
        padding: 0 7.8rem;
    }

    .finsweet_container {
        margin-top: 12.4rem;
        margin-bottom: 12.4rem;
    }

}

@media(max-width: 1000px) {

    .finsweet_container-right {
        display: none;
        margin: 0 auto;
    }

    .finsweet_container-left {
        margin: 0 auto;
    }

}

@media(max-width: 725px) {

    .finsweet {
        padding: 0 2rem;
    }

}

@media(max-width: 392px) {

    .finsweet_container-left .finsweet_btn {
        padding: 1rem 2.5rem;
        width: 16.5rem;
        height: 4.3rem;
    }

}