.story_bg_hero_container {
    background: url('../../images/black_woman_bg_image.png');
    width: 100%;
    min-height: 87.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 777px) {

    .story_bg_hero_container {
        background-size: cover;
        margin-bottom: 5rem;
        height: 70rem;
    }

}