.dream {
    padding: 0 8rem;
    padding-bottom: 12.8rem;
}

.dream_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dream_container-left {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    position: relative;
}

.dream_container-left h2 {
    max-width: 32.2471rem;
    color: var(--black-color);
    font-family: Inter;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.dream_container-left .dream_slim_text {
    max-width: 52.2rem;
    color: var(--black-color);
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.dream_container-left .dream_bold_text {
    max-width: 52.2rem;
    color: var(--black-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
}

.dream_container-right .dream_wave_bg {
    max-width: 38.4rem;
    height: 12.4rem;
    background-color: var(--blue-btn-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -12rem;
    margin-left: -6rem;
    position: relative;
    z-index: 3;
}

.dream_container-left .line_bold_purple_cont .line_bold_purple {
    position: absolute;
    bottom: 2.4rem;
    right: 0;
}

.man_speaking {
    width: 100%;
    height: 100%;
}

@media(max-width: 1280px) {

    .dream {
        padding: 0 2rem;
    }

    .dream_wave_bg{
        display: none !important;
    }

}

@media(max-width: 1230px) {

    .line_bold_purple {
        display: none;
    }

    .dream_container {
        margin-bottom: 5rem;
    }

}

@media(max-width: 1000px) {

    .dream_container-right {
        display: none;
    }

    .dream_container-left {
        align-items: center;
        margin: 0 auto;
    }

    .dream_container-left h2 {
        text-align: center;
    }
    
    .dream_container-left .dream_slim_text {
        text-align: center;
    }
    
    .dream_container-left .dream_bold_text {
        text-align: center;
    }

}