.studios {
    padding-bottom: 12.8rem;
    padding-top: 6.4rem;
}

.studios_container {
    background: url('../../images/Studios_phone_bg.png');
    width: 100%;
    min-height: 56.4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.8rem 0;
    padding-left: 8rem;
}

.studios_bg {
    display: flex;
}

.studios_bg-green {
    width: 1.6rem;
    min-height: 46.8rem;
    background-color: var(--green-bg-color);
}

.studios_bg-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.2rem;
    max-width: 76.8rem;
    min-height: 46.8rem;
    background-color: var(--blue-btn-bg);
    padding-left: 4.8rem;
}

.studios_bg-blue .studios_text_cont {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.studios_bg-blue .studios_text_cont .studios_bold_desc {
    color: var(--input-bg-color);
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.studios_bg-blue .studios_text_cont .studios_bold {
    max-width: 59.3rem;
    color: var(--input-bg-color);
    font-family: Inter;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.studios_bg-blue .studios_text_cont .studios_slim_desc {
    max-width: 59.1rem;
    color: var(--input-bg-color);
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.studios_btn_icon {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.studios_btn_icon .studies_btn {
    color: var(--input-bg-color);
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: var(--transition);
}

.studios_btn_icon .studies_btn:hover {
    opacity: 0.78;
}


@media(max-width: 1280px) {

    .studios_container {
        padding-left: 2rem;
    }

}

@media(max-width: 750px) {

    .studios_container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .studios_bg-blue {
        padding-left: 1.5rem;
    }

}

@media(max-width: 402px) {

    .studios_bg-blue .studios_text_cont .studios_bold_desc {
        font-size: 1.4rem;
    }

    .studios_bg-blue .studios_text_cont .studios_bold {
        font-size: 2.7rem;
    }

    .studios_bg-blue .studios_text_cont .studios_slim_desc {
        font-size: 1.4rem;
    }

}