.footer {
    margin-top: -9rem;
    position: relative;
    z-index: -2;
}

.footer_container {
    width: 100%;
    min-height: 57.4rem;
    background-color: var(--black-color);
    padding: 0 8rem;
    display: flex;
    align-items: center;
    gap: 27rem;
}

.footer_container-item {
    display: flex;
    /* align-items: center; */
    gap: 20rem;
}

.footer_title_pages {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.footer_title_pages .footer_title h4 {
    color: var(--bg-header);
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.footer_title_pages .footer_pages {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer_title_pages .footer_pages li {
    list-style: none;
}

.footer_title_pages .footer_pages li a {
    color: var(--bg-header);
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
}

.footer_title_pages .footer_pages li a:hover {
    color: var(--red-color);
}

.footer_title_pages .footer_pages img {
    max-width: 18.2746rem;
    height: 3.2rem;
}

@media(max-width: 1125px) {

    .footer_container-item {
        display: flex;
        /* align-items: center; */
        gap: 10rem;
    }

    .footer_container {
        gap: 10rem;
    }

}
@media(max-width: 950px) {

    .footer_container-item {
        display: flex;
        /* align-items: center; */
        gap: 6rem;
    }

}

@media(max-width: 852px) {

    .footer_container {
        padding: 0 2rem;
        gap: 6rem;
    }

}

@media(max-width: 765px) {

    .footer_container {
        padding: 12rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_container-item {
        display: flex;
        /* align-items: center; */
        gap: 12rem;
    }

}

@media(max-width: 720px) {
    .footer_title_pages .footer_title h4 {
        font-size: 1.75rem;
    }

    .footer_title_pages .footer_pages li a {
        font-size: 1.45rem;
    }
}

@media(max-width: 669px) {

    .footer_container {
        padding: 0 1rem;
        padding-top: 10rem !important;
    }

    .footer_title_pages {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media(max-width: 630px) {

    .footer_container {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

}
@media(max-width: 432px) {

    .footer_container {
        gap: 3rem;
    }

    .footer_container-item {
        display: flex;
        /* align-items: center; */
        gap: 4.2rem;
    }

}