* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 62.5%;
}

:root {
    --bg-header: #fff;
    --black-color: #14142B;
    --red-color: rgb(183, 68, 68);
    --transition: all 0.15s ease-in;
    --input-bg-color: #F4F2FF;
    --input-text-color: #AFB0B9;
    --blue-btn-bg: #503AE7;
    --purple-bg-color: #832BC1;
    --green-bg-color: #1AD993;
    --transition-delay: all 0.25s ease-in;
    --text-black-color: #1F2022;
}